<a href="https://colab.research.google.com/github/lauanecardoso/Desafio_DA_Refera/blob/main/service_order_results_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [22]:
df = pd.read_csv("/service_order_results_table.csv")

In [23]:
df = df.set_index('month', drop=True)

In [24]:
df

       budgets_approved  budgets_cancelled
month
1                    12                  2
2                    15                  2
3                    31                  8
4                    34                  7
5                    88                 12
6                   290                 25
7                   545                 43
8                  1156                 80
9                  1063                 62
10                 1020                 52
11                 1023                 55
12                  722                 35